# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [1]:
print("Ali, 55, True, 23.55")

Ali, 55, True, 23.55

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [4]:
print("Ali", 55, True, 24.55, sep= "-")

Ali-55-True-24.55

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [6]:
print("Ali", end=" ")
print(55 , end=" ")
print(False, end=" ")
print(23.55, end=" ")

Ali 55 False 23.55

4) Can a python print function take no value to print???

no

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [11]:
name ="Mr Ahmed"
age=30
education="bachelors"
graduate = 2005
profession="Lawyer"
Company = "The Himaliya Associates"
joining = 2015
height=5.10
weight=70600
income=200000

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [13]:
curr_year = 2024
curr_year-graduate

19

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [15]:
working = curr_year-joining
print(working)

9

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [17]:
income_dollars = income/282
print(income_dollars)

709.2198581560284

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [22]:
income_in_dollars = int(income_dollars)
print((income_in_dollars))

709

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [24]:
weight_kg = int(weight/1000)
print(weight_kg)

70

In [26]:
#11) print the year of birth of Mr. Ahmed.
print(1994)

1994

12) Can Rs. 100 be divided equally among 6 students?
HINT: % operator (modulo)

In [28]:
100%6
# 10 is completely divisible by2
# 10 is multiple of 2
# 2 is a factor of 10
# 10 comes in table of 2

4

                       Saylani Mass IT 
             Name   : Nasir Hussain
             Course : AI and DS
             Days   : Tuesday and Thursday
             ID     : AI - 332909

In [30]:
print("                           "," Saylani Mass IT")
print("                ","Name    : Nasir Hussain")
print("                ","Course   : AI and DS")
print("                ", "Days    : Tuesday and Thursday")
print("                ","ID       : AI - 333909")

                             Saylani Mass IT
                 Name    : Nasir Hussain
                 Course   : AI and DS
                 Days    : Tuesday and Thursday
                 ID       : AI - 333909